<div class="button-row">
  <a mat-raised-button color="primary" (click)="personDetails()"><mat-icon>person</mat-icon></a>
</div>
<form [formGroup]="personForm" (ngSubmit)="onFormSubmit(personForm.value)">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Name" formControlName="name"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!personForm.get('name').valid && personForm.get('name').touched">Name</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Beverage" formControlName="beverage"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!personForm.get('beverage').valid && personForm.get('beverage').touched">Beverage</span>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Team" formControlName="team"
           [errorStateMatcher]="matcher">
    <mat-error>
      <span *ngIf="!personForm.get('team').valid && personForm.get('team').touched">Team</span>
    </mat-error>
  </mat-form-field>
  <div class="button-row">
    <button type="submit" [disabled]="!personForm.valid" mat-raised-button color="primary"><mat-icon>save</mat-icon></button>
  </div>
</form>