<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/']"><mat-icon>list</mat-icon></a>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title><h2>{{person.name}}</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <dl>
      <dt>Beverage:</dt>
      <dd>{{person.beverage}}</dd>
      <dt>Team:</dt>
      <dd>{{person.team}}</dd>
    </dl>
  </mat-card-content>
  <mat-card-actions>
    <a mat-raised-button color="primary" [routerLink]="['/person-edit', person._id]"><mat-icon>edit</mat-icon></a>
    <a mat-raised-button color="warn" (click)="deletePerson(person._id)"><mat-icon>delete</mat-icon></a>
  </mat-card-actions>
</mat-card>
