<h1>The Tea Round Picker</h1>

<div class="example-container mat-elevation-z8">
  <table mat-table #table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element" class="name-col"> {{element.name}} </td>
    </ng-container>

    <!-- Beverage Column -->
    <ng-container matColumnDef="beverage">
      <th mat-header-cell *matHeaderCellDef> Usual beverage </th>
      <td mat-cell *matCellDef="let element"> {{element.beverage}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

	<tr mat-row *matRowDef="let row; columns: displayedColumns;" 
         [ngClass]="{'highlight': selectedRowIndex == row._id}"
         [routerLink]="['/person-details/', row._id]">
	</tr>


  </table>
</div>

<div class="button-row">
  <a mat-raised-button color="primary" [routerLink]="['/person-create']"><mat-icon>add</mat-icon></a>
</div>
